@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-size: 18px;
  margin:0;
  padding:0;
}

.app{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.thingy{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:35rem;
  min-width:35rem;
  padding:2rem;
  gap: 2rem;
}

.robot {
  height: 35rem;
  width: 20rem;
  object-fit: cover;
}

body {
  font-family: 'Lato', sans-serif;
}

.text{
  height:35rem;
  width:20rem;
  align-items: column;
}


h1{
  font-size: 5rem;
}

p {
  font-size: 2rem;
}